* {
    margin: 0;
    padding: 0;
    color: white;
}

:root {
    --top_layer: 1;
    --middle_layer: 2;
    --bottom_layer: 3;
    --max_device_height: 100dvh;
    --max_device_width: 100dvw;
    --default_padding: .3rem;
    --default_margin: .2rem;
    --extended_padding: .5rem;
    --extended_margin: .5rem;
    --background_color: rgb(21, 21, 21);
    --primary_color: #2E4F4F;
    --border_color: #61a5a5;
    --button_ok: #9BCF53;
    --button_danger: rgb(241, 84, 84);
    --button_choice: rgb(206, 206, 206);
    --mention_background: rgba(255, 255, 0, 0.205);
}

body {
    background-color: var(--background_color);
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

a {
    color: rgb(159, 176, 255);
}

button {
    background-color: transparent;
    border: none;
    padding: var(--default_padding);
    margin: var(--default_margin);
}

button:hover {
    opacity: .7;
    cursor: pointer;
}

nav {
    position: fixed;
    display: flex;
}

#loading {
    height: var(--max_device_height);
    width: var(--max_device_width);
    background-color: var(--background_color);
    position: fixed;
    display: grid;
    align-content: center;
    justify-items: center;
}

#chatter_loading {
    display: flex;
    height: 60px;
    align-items: center;
    margin: var(--default_margin);
    padding: var(--default_padding);
}

#circle_1,
#circle_2,
#circle_3 {
    height: 30px;
    width: 30px;
    background-color: rgb(255, 84, 84);
    border-radius: 50%;
    margin: var(--default_margin);
    animation: loading alternate-reverse .4s infinite;
}

#circle_2 {
    background-color: rgb(112, 255, 84);
    animation-delay: .2s;
}

#circle_3 {
    background-color: rgb(84, 95, 255);
    animation-delay: .4s;
}

#signup {
    background-color: rgb(14, 14, 14);
    height: var(--max_device_height);
    width: var(--max_device_width);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#signup_fields_wrapper {
    display: flex;
    flex-direction: column;
    margin: var(--default_margin);
    justify-items: center;
    align-items: center;
    width: 17dvw;
    position: relative;
}

#username_box,
#password_box,
#pref_color {
    padding: .7rem;
}

#validation_list,
#user_valid {
    position: absolute;
    opacity: 0;
    z-index: -1;
    transition: .2s ease;
    background-color: rgb(15 15 15);
    border-radius: .6rem;
    box-shadow: black 0 0 5px;
    padding: .5rem;
    margin: .5rem;
    right: -150%;
    top: 0;
}

#validation_list ol,
#user_valid ol {
    margin: 1rem;
    padding: 0 .5rem;
    color: rgb(223, 223, 223);
}

#password_box:hover+#validation_list,
#username_box:hover+#user_valid {
    opacity: 1;
    z-index: 100;
    transition: .2s ease;
}

#color_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pref_color {
    width: 30%;
}

#profile_color {
    width: 30%;
}

#auth_buttons {
    margin: var(--default_margin);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#signup_button {
    font-size: 14pt;
    padding: .5rem .7rem;
    width: 100%;
    padding: .3rem;
}

#new_pfp {
    height: 100px;
    width: 100px;
    background-color: rgb(114, 114, 114);
}

#pfp_holder_signup {
    display: flex;
    flex-direction: column;
}

#form_wrapper {
    display: flex;
    align-items: center;
}

#logo_and_text {
    display: flex;
    align-items: center;
    justify-content: center;
}

#new_pfp_holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

#edit_icon {
    position: absolute;
    font-size: 32pt;
    display: none;
}

#new_pfp_holder:hover #edit_icon {
    display: flex;
}

/** 
* ? Loading animation
*/
@keyframes loading {
    0% {
        margin-top: .3rem;
        height: 25px;
    }

    100% {
        margin-top: -10%;
    }
}

/**
* ? Browser styling
*/
#profile_color {
    background-color: transparent;
    border: none;
    height: 100%;
}

#profile_color::-webkit-color-swatch-wrapper {
    width: 50px;
    height: 50px;
}

#profile_color::-webkit-color-swatch {
    background-color: transparent;
    padding: var(--default_padding);
    border-radius: .3rem;
    border: none;
}