:root {
    --top_layer: 1;
    --middle_layer: 2;
    --bottom_layer: 3;
    --max_device_height: 100dvh;
    --max_device_width: 100dvw;
    --default_padding: .3rem;
    --default_margin: .2rem;
    --extended_padding: .5rem;
    --extended_margin: .5rem;
    --background_color: #363636;
    --primary_color: #2E4F4F;
    --border_color: #61a5a5;
    --button_ok: #9BCF53;
    --button_danger: rgb(241, 84, 84);
    --button_choice: rgb(206, 206, 206);
    --mention_background: rgba(255, 255, 0, 0.205);
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    line-height: 1.5;
}

body {
    background-color: rgb(24, 24, 24);
    color: white;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #6b9cff;
}

a:hover {
    text-decoration: underline;
}

nav {
    z-index: 2;
}

button {
    border-radius: .3rem;
    padding: var(--default_padding);
    margin: var(--default_margin);
}

#loading {
    height: var(--max_device_height);
    width: var(--max_device_width);
    background-color: var(--background_color);
    position: fixed;
    display: grid;
    align-content: center;
    justify-items: center;
    z-index: 4;
}

#chatter_loading {
    display: flex;
    height: 60px;
    align-items: center;
    margin: var(--default_margin);
    padding: var(--default_padding);
}

#circle_1,
#circle_2,
#circle_3 {
    height: 30px;
    width: 30px;
    background-color: rgb(255, 84, 84);
    border-radius: 50%;
    margin: var(--default_margin);
    animation: loading alternate-reverse .4s infinite;
}

#circle_2 {
    background-color: rgb(112, 255, 84);
    animation-delay: .2s;
}

#circle_3 {
    background-color: rgb(84, 95, 255);
    animation-delay: .4s;
}

/** 
* ? Loading animation
*/
@keyframes loading {
    0% {
        margin-top: .3rem;
        height: 25px;
    }

    100% {
        margin-top: -10%;
    }
}

button:disabled {
    opacity: .1;
}

input:disabled:hover,
button:disabled:hover {
    cursor: not-allowed;
}

input[type="color"] {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    outline: none;
    border: 1px solid white;
}

button {
    transition: .2s ease;
}

button:hover {
    cursor: pointer;
    opacity: .7;
}

button:disabled:hover {
    opacity: .1;
}

button#new_message_popup:hover {
    opacity: 1;
}

#notification {
    position: fixed;
    z-index: 12;
    background-color: rgba(0, 0, 0, 0.562);
    backdrop-filter: blur(24px);
    margin: 1rem;
    padding: .5rem;
    margin-top: -100%;
    transition: .2s ease;
    padding: 1rem;
    border-radius: .6rem;
    right: 0;
    border: 2px solid #89ff99;
}

.form_wrapper {
    height: 100dvh;
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.562);
    backdrop-filter: blur(24px);
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.form {
    display: grid;
    padding: 1rem;
    background-color: rgb(22, 22, 22);
    border-radius: .6rem;
    box-shadow: black 0 0 5px;
}

.form * {
    padding: .3rem;
}

.form input {
    margin: .3rem;
    border-radius: .6rem;
    border: 1px solid rgb(49, 49, 49);
    background-color: transparent;
    outline: 3px soild transparent;
    outline-offset: 2px;
    color: white;
}

.form:focus {
    outline: 3px soild white;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    border-radius: .6rem;
    border: none;
    padding: .5rem;
}

#cancel_invite,
#cancel {
    background-color: transparent;
    outline: 1px solid rgb(48, 48, 48);
    color: rgb(233, 233, 233);
}

#cancel_invite:hover,
#cancel:hover {
    outline: 1px solid transparent;
    background-color: rgb(43, 43, 43);
}

/**
* ? Layout start
*/
#channels,
#app_main_container,
#list_users,
#auth_buts {
    border-radius: .6rem;
    padding: .5rem;
    box-shadow: black 0 0 5px;
}

#channels {
    grid-area: channel;
    background-color: #161616;
    overflow-y: auto;
    overflow-x: hidden;
}

#app_main_container {
    grid-area: message;
}

#list_users {
    grid-area: users;
    background-color: #161616;
}

#users_list {
    overflow-y: auto;
    overflow-x: hidden;
}

#open_users_list {
    display: none;
}

#auth_buts {
    grid-area: user;
    background-color: #161616;
    display: grid;
    align-items: center;
}

#auth_buts div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#app_wrapper {
    display: grid;
    height: 100dvh;
    width: 100dvw;
    grid-template-rows: .01fr 1fr 1fr 1fr .3fr .01fr;
    grid-template-columns: .01fr .3fr 1fr 1fr .5fr .01fr;
    row-gap: .5rem;
    column-gap: .5rem;
    grid-template-areas:
        ". . . . . ."
        ". channel message message users ."
        ". channel message message users ."
        ". channel message message users ."
        ". channel message message user ."
        ". . . . . .";
    position: fixed;
}

/**
* ? End of layout
*/
#app_main_container {
    padding: 0;
    display: grid;
    grid-template:
        "nameindicator"
        "messagesholder"
        "messagesholder"
        "messagebox";
}

#channel_name_indicator {
    grid-area: nameindicator;
    padding: .5rem;
    background-color: rgb(46, 46, 46);
    border-top-left-radius: .6rem;
    border-top-right-radius: .6rem;
    box-shadow: black 0 0 5px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#create_chnl_button {
    position: sticky;
    top: 0;
    border-radius: .6rem;
    padding: .3rem;
    z-index: 100;
}

#messages {
    grid-area: messagesholder;
    background-color: #161616;
    padding: .7rem;
    overflow-y: auto;
    overflow-x: hidden;

}

#user_message {
    grid-area: messagebox;
    border-bottom-left-radius: .6rem;
    border-bottom-right-radius: .6rem;
    background-color: rgb(22, 22, 22);
    display: grid;
}

#new_message_popup {
    position: absolute;
    transform: translateY(-3rem);
    display: none;
    background-color: #9dbcff56;
    backdrop-filter: blur(18px);
    width: 60%;
    border: none;
    justify-self: center;
    font-weight: bold;
    font-size: 12pt;
    color: #b9b9b9;
}

#message_box {
    grid-area: inputmessage;
    margin: .5rem;
    padding: .5rem;
    border-radius: .6rem;
    background-color: rgb(46, 46, 46);
    outline-offset: 2px;
    max-height: 10dvh;
    overflow-y: auto;
}

#message_box:focus {
    outline-offset: 2px;
    outline: 3px solid rgb(214, 214, 214);
}

#send_message {
    grid-area: sendmessage;
    height: fit-content;
    margin: .5rem;
    display: flex;
    padding: .5rem;
    border-radius: .6rem;
    background-color: transparent;
    border: none;
}

#send_message:hover {
    box-shadow: black 0 0 5px;
}

#send_message_holder {
    display: grid;
    grid-template:
        "inputmessage sendmessage";
}

#profile_pfp {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    padding: 0;
}

#profile_pfp img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#logout {
    border: none;
    box-shadow: black 0 0 5px;
    background-color: rgb(31, 31, 31);
    color: rgb(255, 95, 95);
    padding: .5rem;
    border-radius: .6rem;
}

.online_users {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .3rem;
    margin: .2rem;
    border-radius: .6rem;
    background-color: #363636;
}

.component_image {
    border-radius: .6rem;
    margin: .5rem;
    max-width: 40%;
}

.pfp {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: .5rem;
}

.invite {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: .5rem;
    color: rgb(211, 211, 211);
}

#channels {
    display: flex;
    flex-direction: column;
}

#create_channel {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: none;
    background-color: rgb(32, 32, 32);
    box-shadow: black 0 0 5px;
    color: rgb(130, 255, 130);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22pt;
}

.channel {
    background-color: rgb(32, 32, 32);
    border-radius: .6rem;
    border: none;
    color: rgb(218, 218, 218);
    font-size: 14pt;
    overflow: hidden;
    text-wrap: nowrap;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    border: 2px solid transparent;
    transition: .2s ease;
}

.active {
    background-color: rgb(56, 56, 56);
    box-shadow: black 0 0 5px;
    border: 2px solid #989898;
}

.channel:hover {
    border: 2px solid #989898;
    transition: .2s ease;
}

.message_holder {
    display: flex;
    align-items: flex-start;
    margin: .2rem 0;
    padding: .5rem 0;
}

.chat_username {
    font-size: 16pt;
    margin: 0 .3rem;
    padding: 0 .3rem;
    max-width: 15dvw;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-wrap: normal;
}

.timestamp {
    font-size: 10pt;
    opacity: .6;
}

.message_db {
    padding: .2rem .5rem;
    width: 90%;
    margin: 0 .3rem;
    border-radius: .6rem;
    width: inherit;
    position: relative;
    overflow-wrap: anywhere;
}

.message_db:hover .reply_icon {
    display: flex;
    height: 25px;
    width: 25px;
    transform: translate(-10px, -10px);
    z-index: 100;
}

.reply_icon {
    background-color: rgb(37, 37, 37);
    border: none;
    height: 50px;
    width: 50px;
    color: rgb(214, 214, 214);
    border-radius: .3rem;
    box-shadow: black 0 0 3px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.reply_icon:hover {
    opacity: .7;
}

.mentioned .message_db {
    display: flex;
    align-items: center;
}

.mentioned b {
    padding: .1rem;
    border-radius: .6rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(96, 96, 141);
    margin-right: .3rem;
}

.message_user_holder {
    width: 95%;
}

.message_holder .pfp {
    height: 50px;
    width: 50px;
}

.message_db:hover {
    background-color: rgb(17, 17, 17);
}

div.reply_message {
    display: grid;
}

.replied_to {
    display: flex;
    padding: .3rem .8rem;
    background-color: #101010;
    border-top-left-radius: .6rem;
    border-top-right-radius: .6rem;
    opacity: .8;
    font-size: 12pt;
    font-style: italic;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.replied_to span {
    margin: .3rem;
}

span.reply_content {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    width: 20dvw;
}

#reply_indicator {
    padding: .5rem;
    background-color: rgb(17, 17, 17);
    border-top-right-radius: .3rem;
    border-top-left-radius: .3rem;
    display: none;
    box-shadow: black 0 0 2px;
}

#reply_indicator div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cancel_reply {
    background-color: transparent;
    border: none;
    border-radius: .3rem;
    color: rgb(221, 221, 221);
}

.cancel_reply:hover {
    opacity: .7;
}

/**
* ? Scrollbars
*/

::-webkit-scrollbar {
    width: .3rem;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    width: .2rem;
    background-color: rgb(73, 73, 73);
    border-radius: .6rem;
}

::-webkit-scrollbar-button {
    display: none;
}

.embed {
    padding: .5rem;
    margin: .5rem;
    border-radius: .6rem;
    background-color: #272727;
    max-width: 40%;
    border: 2px solid rgb(78, 78, 78);
}

.embed_title,
.embed_description,
.embed_image {
    padding: .3rem .5rem;
}


.embed_description {
    color: rgb(221, 221, 221);
}

.embed_image {
    padding: .5rem;
    max-width: calc(100% - 1rem);
    border-radius: .8rem;
}

#profile_container {
    background-color: #131313;
    backdrop-filter: blur(18px);
    display: grid;
    align-content: center;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;
    border-radius: .6rem;
    box-shadow: black 0 0 5px;
}

#profile_page {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000b0;
    position: fixed;
    z-index: 5;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(18px);
}

#avatar_wrapper {
    display: flex;
}

#avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.profile_attributes {
    display: grid;
    align-content: center;
}

.profile_attributes * {
    padding: .5rem;
    margin: 0 .5rem;
}

.profile_attributes input {
    background-color: transparent;
    color: rgb(223, 223, 223);
    border-radius: .6rem;
    outline: 1px solid rgb(216, 216, 216);
    border: 1px solid rgb(114, 114, 114);
    outline-offset: 2px;
    outline: none;
}

.profile_attributes input:focus {
    outline: 2px solid rgb(216, 216, 216);
}

.profile_attributes label {
    padding-left: 0;
}

#update_profile_buttons {
    display: flex;
    justify-content: space-between;
    margin: .5rem 0;
}

#update_profile_buttons button {
    border: none;
    border-radius: .6rem;
}

#update_profile {
    background-color: rgb(224, 224, 224);
    color: rgb(17, 17, 17);
}

#close_update_profile {
    background-color: transparent;
    outline: 1px solid rgb(75, 75, 75);
    color: rgb(206, 206, 206);
}

#close_update_profile:hover {
    background-color: rgb(58, 58, 58);
    outline: none;
}

#reload {
    position: fixed;
    z-index: 6;
    height: 100dvh;
    width: 100dvw;
    background-color: rgba(0, 0, 0, 0.795);
    backdrop-filter: blur(18px);
    align-content: center;
    justify-content: center;
}

#reload div {
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    border-radius: .6rem;
    background-color: #161616;
    box-shadow: black 0 0 5px;
}

#reload div a {
    color: rgb(255, 135, 135);
}

#open_channel_button {
    display: none;
}

#action_indicator {
    margin-left: 1rem;
    height: 1.5rem;
    padding: 0;
    white-space: break-spaces;
    display: flex;
}

#action_indicator span {
    max-width: 10dvw;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**
* ? Mobile devices
*/

@media screen and (max-width: 680px) {
    body * {
        margin: 0;
        padding: 0;
    }

    #open_channel_button,
    #open_users_list {
        display: block;
        background-color: #161616;
        box-shadow: black 0 0 5px;
        border-radius: .6rem;
        border: none;
        margin: 1rem;
        height: 50px;
        width: 50px;
        font-size: 14pt;
        color: white;
    }

    #app_wrapper {
        display: block;
    }


    #channels,
    #list_users {
        height: calc(90dvh - 3.5rem);
        margin: .5rem;
        z-index: 2;
        transition: .2s ease;
    }

    #channels {
        position: absolute;
        z-index: 6;
        width: 90dvw;
        margin-left: -100%;
    }

    #open_users_list {
        display: block;
    }

    #open_buttons {
        display: flex;
        justify-content: space-between;
    }

    #list_users {
        position: absolute;
        top: 0;
        width: 90dvw;
        margin-left: -100%;
    }

    #auth_buts,
    #app_main_container {
        margin: .5rem;
    }

    #auth_buts {
        max-height: 10dvh;
        display: flex;
    }

    #auth_buts_wrapper {
        width: 100%;
    }

    #app_main_container {
        height: calc(90dvh - 2.5rem);
        position: relative;
    }

    #channel_name_indicator {
        z-index: 1;
    }

    .embed {
        max-width: 100%;
    }

    .message_db {
        max-width: 80%;
        text-wrap: wrap;
        overflow: hidden;
        overflow-wrap: anywhere;
    }

    .mentioned .message_db {
        display: block;
    }

    #avatar {
        height: 100px;
        width: 100px;
    }

    #profile_container {
        margin: .5rem;
    }

    .channel {
        min-height: 50px;
    }

    .inactive_button {
        color: grey;
    }

    .active_button {
        color: white;
    }
}